@model IEnumerable<hyperTROPHYbuddy.Models.WorkoutPlanAssignment>

@{
    ViewData["Title"] = "Assigned Plans";
}

<h1>Assigned Plans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutPlan.Description)
            </td>
            <td>
                @item?.Client?.UserName
            </td>
            <td>
                @item?.Admin?.UserName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkoutPlanAssignmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkoutPlanAssignmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkoutPlanAssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
