@model IEnumerable<WorkoutPlan>

@{
    ViewData["Title"] = "Workout Plans";
    Layout = "_AdminLayout";
}

<h1>Workout Plans</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Workouts</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.Name</td>
                <td>@plan.WorkoutPlanType.Name</td>
                <td>@plan.WorkoutPlanWorkouts.Count</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@plan.Id" class="btn btn-sm btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@plan.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>